body {
  margin: 0;
  font-family: Cambria;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #00154a;
}

h1 {
  color: white;
}

* {
  box-sizing: border-box;
}

a,
a:visited {}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}